@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

* {
  box-sizing: border-box;
}

body {
  background: #000000;
  margin: 0;
  padding: 0;
  color: white;
}


#text {
  margin: 0;
  padding: 0;
  display: flex;
  font-size: 12px;
  text-align: justify;
  line-height: 10px;
  height: 100vh;
  max-height: 100vh;
  max-width: 100vw;
  overflow: hidden;
  word-wrap: normal;
  font-weight: bolder;
  background: url("../surface-Ex0N1altWwc-unsplash.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-clip: text;
  /* background-attachment: fixed; */
  -webkit-text-fill-color: rgba(255, 255, 255, 0);
  font-family: "Poppins";

}

input[type=url] {
  width: 100vw;
}

textarea {
  width: 100vw;
}